/** {
  border: 1px dashed gold;
}*/

body {
  background: Gainsboro;
  /*font-family: 'Raleway', sans-serif;*/
}

.loginContainer_small{
  border: 1px solid #DDDDDD;
  padding: .3em;
  background-color: #F9F9F9;
}

.navbar-brand{
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}
/*#reg{
  font-size: 25px;
}*/

.jumbotron {
background-image: url('http://qmedinfo.pl/images/templates/news.jpg');
background-size: cover;
max-width: 100%;
background-repeat: no-repeat;
height: 560px;
/*border: 1px solid red;*/
font-family: 'Permanent Marker', cursive;
}

#smarty {
text-align: center;
bottom: -100%;

}

.about {
  background-color: whitesmoke;
  /*opacity: 0.7;*/
  /*font-size: 40px;*/
  color: black;
  /*width: 60%;*/
  /*height: 5em;*/
  border: 1px solid lightgrey;
  margin: 0 auto;
  padding: 1em;
  /*padding-top: 2em;*/
}

.newsHeader {
text-align: center; padding-bottom: 1em;
font-family: 'Permanent Marker', cursive;
}

ul {
  list-style: none;
}

.authTitle {
  font-weight: bold;
}

 #newsApi {
  /*float: left;*/
  border: 1px solid black;
  /*max-width: 45%;
  padding-top: 1em;
  padding-left: 1em;
  margin-left: 4em;
  */
  margin-right: 1em;
  background: whitesmoke;
}

.urlImg {
  width: 50%;
  /*border: 1px dotted purple;*/
}

.cloud {
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px black;
}

.cloud:after {
  content: "\00a0";  /* Prevent margin collapse */
}

.spBoardTitle{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

#discussionBoard {
  border: 1px solid black;
  /*max-width: 50%;*/
  /*float: right;*/
  /*padding-left: 1%;*/
  background: whitesmoke;
  margin-left: 1em;
}

.onePostName {
  font-weight: bold;
}

.singlePost {
  /*padding-right: 1em;*/
  float: left;
}

.commentThread {
  text-align: center;
  /*border: 1px solid grey;*/
  /*background-color: Gainsboro;*/
  width: 80%;
  color: #800080;

}

.commentTitle {
  padding-top: .01em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

#delete, #edit {
  display: inline-block;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


/*modal code from tutorial
http://adamalbrecht.com/2013/12/12/creating-a-simple-modal-dialog-directive-in-angular-js/*/
