/** {
  border: 1px dashed gold;
}*/

@media only screen and (max-width: 992px) {
  .navbar {
    display: block;
  }

  #navbarTogglerDemo01 {
    display: inline-block;
  }

  .carousel {
    padding-top: 10%;
  }

}

body {
  background: lavender;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  /*background: Gainsboro;*/

}

.loginContainer_small{
  border: 1px solid #DDDDDD;
  padding: .3em;
  background-color: #F9F9F9;
}

#mainNav{
  /*background-color: whitesmoke;*/
  height: 40%;
background: linear-gradient(to right, rgba(255,97,179,1) 0%, rgba(255,97,179,0.85) 19%, rgba(138,23,121,0.42) 75%, rgba(105,2,105,0.42) 91%);
}

.navbar li {
margin: 0 auto;
}


.nav-link disabled a {
  color: #5e0f5e;
}

#logout {
  color: #5e0f5e;
  font-weight: bolder;
  list-style: none;
  text-decoration: none;

}

#logoutDiv {
  float: right;
}
.about {
  padding: 10%;
 margin-top: 10%;
 position: absolute;
 background-color: rgba(255, 255, 255, 0.3);
 /*border-radius: 7px;*/
 height: 70%;
 font-family: 'Raleway', sans-serif;
 font-size: 20px;
}

.carousel {
  height: 30%;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;

}



/*.jumbotron {
background-image: url('http://qmedinfo.pl/images/templates/news.jpg');
background-size: cover;
max-width: 100%;
background-repeat: no-repeat;
height: 560px;

}*/

.smartyP{
  font-family: 'Permanent Marker', cursive;
  color: #5e0f5e;
  font-size: 30px;
}

.about {
  background-color: rgba(0, 0, 0)
  border: 1px solid lightgrey;
  margin: 0 auto;
  color: #5e0f5e;
  font-size: 20px;
  box-shadow:

}

#Modal {
-webkit-box-shadow: 71px 24px 59px 16px rgba(102,95,102,0.59);
-moz-box-shadow: 71px 24px 59px 16px rgba(102,95,102,0.59);
box-shadow: 71px 24px 59px 16px rgba(102,95,102,0.59);
font-family: 'Permanent Marker', cursive;
}

.newsHeader {
text-align: center; padding-bottom: 1em;
font-family: 'Permanent Marker', cursive;
}

ul {
  list-style: none;
}

.authTitle {
  font-weight: bolder;
  font-size: 22px;
  color: #5e0f5e;
}

 #newsApi {
  border: 1px solid lightgrey;
  margin-right: 1em;
  background: whitesmoke;
  overflow-x: scroll;
  height: 1100px;

}

.urlImg {
  width: 50%;
  /*border: 1px dotted purple;*/
}

.cloud {
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px black;
}

.cloud:after {
  content: "\00a0";  /* Prevent margin collapse */
}

.spBoardTitle{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

#discussionBoard {
  border: 1px solid lightgrey;
  /*max-width: 50%;*/
  /*float: right;*/
  /*padding-left: 1%;*/
  background: whitesmoke;
  margin-left: 1em;
  overflow-x: scroll;
  height: 1100px;
}

.onePostName {
  font-weight: bolder;
  font-size: 22px;
  color: #5e0f5e;
}

.singlePost {
  /*padding-right: 1em;*/
  float: left;
}

.commentThread {
  text-align: center;
  /*border: 1px solid grey;*/
  /*background-color: Gainsboro;*/
  width: 80%;
  color: #5e0f5e;

}

.commentTitle {
  padding-top: .01em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

#delete, #edit {
  display: inline-block;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

#footer {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(to right, rgba(255,97,179,1) 0%, rgba(255,97,179,0.85) 19%, rgba(138,23,121,0.42) 75%, rgba(105,2,105,0.42) 91%);
}


/*modal code from tutorial
http://adamalbrecht.com/2013/12/12/creating-a-simple-modal-dialog-directive-in-angular-js/*/
